<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
       
</head>
<body>
    <div class="forflex">
        {{>header}}
        This page is about me...<br/><br/>
        <img src="/img/sumanth.jpg"/>
    </div>
    {{>footer}}
</body>
</html>