<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="/js/jcode.js"></script>
</head>
<body>
    {{>header}}
    <img src="/img/sumanth.jpg">
    {{>footer}}
</body>
</html>