<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="/js/jcode.js"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <img src="/img/sumanth.jpg">
    <p>The author is {{name}}</p>
</body>
</html>